<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>

    <section class="portfolio">
        <ul class="list-group">
            <li class="list-group-item img-responsive">
                <a href="#/" class="list-group-link">
                    <img src="./images/small/img-1.jpg" alt="">
                </a>
            </li>
            <li class="list-group-item img-responsive">
                <a href="#/" class="list-group-link">
                    <img src="./images/small/img-2.jpg" alt="">
                </a>
            </li>
            <li class="list-group-item img-responsive">
                <a href="#/" class="list-group-link">
                    <img src="./images/small/img-3.jpg" alt="">
                </a>
            </li>
            <li class="list-group-item img-responsive">
                <a href="#/" class="list-group-link">
                    <img src="./images/small/img-4.jpg" alt="">
                </a>
            </li>
            <li class="list-group-item img-responsive">
                <a href="#/" class="list-group-link">
                    <img src="./images/small/img-5.jpg" alt="">
                </a>
            </li>
            <li class="list-group-item img-responsive">
                <a href="#/" class="list-group-link">
                    <img src="./images/small/img-6.jpg" alt="">
                </a>
            </li>
            <li class="list-group-item img-responsive">
                <a href="#/" class="list-group-link">
                    <img src="./images/small/img-7.jpg" alt="">
                </a>
            </li>
            <li class="list-group-item img-responsive">
                <a href="#/" class="list-group-link">
                    <img src="./images/small/img-8.jpg" alt="">
                </a>
            </li>
            <li class="list-group-item img-responsive">
                <a href="#/" class="list-group-link">
                    <img src="./images/small/img-9.jpg" alt="">
                </a>
            </li>
            <li class="list-group-item img-responsive">
                <a href="#/" class="list-group-link">
                    <img src="./images/small/img-10.jpg" alt="">
                </a>
            </li>
            <li class="list-group-item img-responsive">
                <a href="#/" class="list-group-link">
                    <img src="./images/small/img-11.jpg" alt="">
                </a>
            </li>
            <li class="list-group-item img-responsive">
                <a href="#/" class="list-group-link">
                    <img src="./images/small/img-12.jpg" alt="">
                </a>
            </li>
            <li class="list-group-item img-responsive">
                <a href="#/" class="list-group-link">
                    <img src="./images/small/img-13.jpg" alt="">
                </a>
            </li>
        </ul>

        <div class="output">
            <div class="img-responsive">
                  <div class="arrow arrow-left">&#10145;</div>
                  <div class="arrow arrow-right">&#10145;</div>
                <img src="" alt="">
            </div>
        </div>  
    </section>
    
    <script src="./Slider.js"></script>
</body>
</html>