.container {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

li {
    list-style: none;
}
a {
    display: block;
    transition: .3s;
    text-decoration: none;
    color: #000;
}


.btn{
    border: 0.125rem solid;
    transition: .3s;
    cursor: pointer;
    padding: 0.8em 1.2em;
    font-size: 0.9rem;
    border-radius: 0.375rem;
    text-transform: uppercase;
    white-space: nowrap;
    &::selection {
        color: none;
    }
    &:active {
        opacity: 0.9;
    }
    &--primary{
        border-color: color(primary);
        color: color(primary);
        &:hover {
            background: color(primary);
            color: #fff;
        }
    }
    &--dark {
        border-color: color(dark);
        color: color(dark);
        &:hover {
            background: color(dark);
            color: #fff;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(2, 2, 24, 0.8);
    z-index: 998;
}
